{{>structure}}
<div class="main-content">
    {{>header}}

    <h3>{{text}}</h3>

    <form action="/forecast" method="POST">
        Location:
        <input class="address" name="address" type="text" placeholder="eg: New Delhi">
        <button class="search" type="submit">Search</button>
    </form>
    <br>
    <br>
    <p id="text1"></p>
    <p id="text2"></p>
    <p id="text3"></p>
    <p id="text4"></p>
    <p id="text5"></p>
    <p id="text6"></p>
    <p id="text7"></p>

</div>
    <script src="JS/script.js"></script>
{{>footer}}